/build
!/src/main/res/drawable/nt3.jpeg
!/src/main/res/drawable/t1.jpeg
!/src/main/res/drawable/nt1.jpeg
!/src/main/res/drawable/nt5.jpeg
!/src/main/res/drawable/t4.jpeg
!/src/main/res/drawable/nt2.jpeg
!/src/main/res/drawable/t2.jpeg
!/src/main/res/drawable/t5.jpeg
!/src/main/res/drawable/t3.jpeg
!/src/main/res/drawable/nt4.jpeg
!/src/main/res/raw/load2.mp4
!/release/
